@tailwind base;
@tailwind components;
@tailwind utilities;

body { 
  margin: 0;
  font-family: monospace;
  display: flex; 
  width:100vw;
  height: 100vh;
  justify-content:center;
  background-color:black;
}

html, body { 
  height: 100%; 
}

canvas { 
  background: black;
  border: 4px solid #222; 
  display:block;
}

.flexicution {
  display: flex;
  
}
.bg-main-button {
  background-color: rgba(125, 249, 255,0.2);
  animation: pop 1s;
  transition:.2s;
}
.bg-main-button:hover {
  transform: scale(1.1);
  background-color: rgba(125, 249, 255,0.3);
}
.bg-main-button:disabled {
  opacity:0.3;
}
.bg-main-leader-win {
  transform:scale(0);
  animation: 4s pop 2s forwards;
}
.bg-main-button-win {
  transform: scale(0);
  animation:4s pop 2s forwards;
}
.stars-bg {
  background-image: url('../public/stars.jpg');
  background-size: fill;
  opacity:0;
  animation: fadeIn 2s forwards;
}
@keyframes fadeIn{
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes pop {
  0% {
    transform:scale(0);
  }
  25% {
    transform: scale(1.15);
  }
  50% {
    transform: scale(1.15);
  }
  100% {
    transform: scale(1.0);
  }
};
@keyframes grow {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.5);
  }
}

.fadeResults {
  opacity: 0;
  background-color: black;
  animation-duration: 1s;
  animation-name: fadeIn;
  animation-delay: 0s;
  animation-fill-mode: forwards;
}

.fadeTable {
  opacity: 0;
  animation-duration: 1s;
  animation-name: fadeIn;
  animation-delay: 0.5s;
  animation-fill-mode: forwards;
}

#results-table {
  background-color: rgba(125, 249, 255,0.3);
}
#results-table > tbody > * {
  padding: 5px;
  border-color: white;
  border-width: 2px;
}
#results-table > thead > * > * {
  padding: 10px;
  border-color: white;
  border-width: 2px;
}


@keyframes fadeIn {
  from {
    margin-right: 0%;
    opacity: 0;
  }
  to {
    margin-right: 100%;
    opacity: 1;
  }
}
.results-row {
  opacity: 0;
}
.fade-in-row {
  animation-duration: 0.5s;
  animation-name: fadeIn;
  animation-delay: 1.0s;
  animation-fill-mode: forwards;
}